{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Health Failure Prediction</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'website1/vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'website1/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'website1/assets/css/templatemo-style.css' %}">
    <link rel="stylesheet" href="{% static 'website1/assets/css/owl.css' %}">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="index.html">Health Failure Prediction</a>
              </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner-content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="banner-caption">
                            <h4>Welcome to <em> Heart Failure Predictor.</em> </h4>
                            <p>Machine learning can predict survival of patients with heart failure with features from medical fields </p>
                            <div class="primary-button">
                              <a href="#">Read More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Services -->
            <section class="services">
             <center><h3>Features related to medical field :</h3></center> <br></br>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">

                    

                    <div class="service-item first-item">
                      
                      <h4>Anameia</h4>
                      <p>Anemia is a decrease in the total amount of red blood cells (RBCs) or hemoglobin in the blood</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item second-item">
                      <h4>Ejection Fraction</h4>
                      <p> is a measurement, of how much blood the left ventricle pumps out with each contraction.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item third-item">
                      <h4>Platelets</h4>
                      <p>Platelets are tiny blood cells that help your body form clots to stop bleeding.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item fourth-item">
                      <h4>Creatinine Phosphokinase</h4>
                      <p> an enzyme in the body. It is found mainly in the heart, brain, and skeletal muscle.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item fivth-item">
                      <h4>Serum Creatinine</h4>
                      <p> is a breakdown product of creatine phosphate from muscle and protein metabolism.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item sixth-item">
                      <h4>Serum Seduim</h4>
                      <p>sodium blood test measures the amount of sodium in your blood helping your muscles work properly.</p>
                    </div>
                  </div>
   
                </div>
              </div>
            </section>

           

            

            

          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

        
              
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="#">Homepage</a></li>
                <li><a href="/PredictionPage/">Health Failure Prediction</a></li>
            

            <!-- Featured Posts -->
            <div class="featured-posts">
              <div class="heading">
                <h2>Reduce your chances of getting heart disease:</h2>
              </div>
              <div class="owl-carousel owl-theme">
                <a href="#">
                  <div class="featured-item">
                    <img src="{% static 'website1/assets/images/a1.png' %}" alt="featured one">
                    <p>Manage stress.</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="{% static 'website1/assets/images/a2.png' %}" alt="featured two">
                    <p>Eat a healthy diet.</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="{% static 'website1/assets/images/a3.png' %}" alt="featured three">
                    <p>Keep your cholesterol and triglyceride levels under control.</p>
                  </div>
                </a>
              </div>
            </div>

        

          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'website1/vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'website1/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'website1/assets/js/browser.min.js' %}"></script>
    <script src="{% static 'website1/assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'website1/assets/js/transition.js' %}"></script>
    <script src="{% static 'website1/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'website1/assets/js/custom.js' %}"></script>
</body>


  </body>

</html>
